<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
    <select id="memberList" resultType="com.co.spring02.vo.MemberVO">
        SELECT 
          userId, 
          userName,
          userEmail,
          Regdate
        FROM tbl_member
        ORDER BY userName
    </select>
    <insert id="insertMember">
        INSERT into tbl_member
        (userIdx, 
          userId, 
          userPw,
          userName,
          userEmail
          )
        VALUES 
          (MEMBER_SEQ.NEXTVAL,
          #{userId}, 
          #{userPw}, 
          #{userName}, 
          #{userEmail})
    </insert>
    
    
    <select id="loginCheck" resultType="String">
        SELECT userName AS userName FROM tbl_member
        WHERE userId = #{userId} AND userpw = #{userPw}
    </select>
    
    <select id="viewMember" resultType="com.co.spring02.vo.MemberVO">
        SELECT 
          userId,
          userName,
          userEmail,
          Regdate,
          Updatedate
        FROM tbl_member
        WHERE userId = #{userId}
    </select>
    
    <select id="MemberInfo" resultType="com.co.spring02.vo.MemberVO">
        SELECT 
          userId,
          userName,
          userEmail,
          Regdate,
          Updatedate
        FROM tbl_member
        WHERE userId = #{userId} AND userPw = #{userPw}
    </select>
    
    <update id="updateMember">
        UPDATE tbl_member
        SET
            userPw = #{userPw},
            userName = #{userName},
            userEmail = #{userEmail},
            updatedate = SYSDATE
        WHERE
            userId = #{userId}  
    </update>
    
    <delete id="deleteMember">
    delete from tbl_member
    where userId = #{userId}
    </delete>
    
    <select id="checkPw" resultType="int">
    	select COUNT(*) from 
    	tbl_member
    	where userId = #{userId} and userPw = #{userPw}
    </select>
   
   
    
</mapper>